.drawBoard {
    border-radius: 5px;
    margin-top: 1rem;
    width: 50%;
    height: 90%;
    background-color: white;
}

.chatroom {
    padding: 0.5rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    height: 90%;
    width: 15%;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

.chatbox {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    height: 5%;
    font-family: arial, sans-serif;
    background-color: #eaeaea;
    border-radius: 5px;
}

.game-page {
    background-image: url("../public/images/pixel-landscape.jpg");
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

ul.message-list li {
    font-size: 1rem;
    font-family: sans-serif, sans-serif;
    list-style-type: none;
    color: black;
}